.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.display-flex {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    padding: 10px;
    list-style-type: none;
}

.list-item-home {
    list-style-type: none;
    margin: 10px;
    border: 1px solid rgb(122, 121, 121);
    padding: 10px;
    border-radius: 10px;
}

.filter-container {
    margin-bottom: 20px;
    display: inline;
}

.filter-dropdown {
    width: 200px;
    margin-right: 10px;
    float: left;
}


/* Style for checkboxes in dropdown */

.MuiMenuItem-root {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-main {
    background-color: #4e4e50;
    padding: 1px;
}

.nav-ul a {
    list-style-type: none;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.nav-li {
    display: inline;
    margin: 10px;
    font-size: 20px;
}

.float-right {
    float: right;
    margin-right: 10px;
    color: #c40b0b;
}

.post-item {
    margin: auto;
    background-color: #bbbbbe;
    width: 60vw;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}